AMS/XSDs/BuyerRoleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="RestrictedIDType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Buyer">
    <xs:complexType>
      <xs:sequence>       
        <xs:element type="RestrictedIDType" name="ExternalBuyerID" minOccurs="1" maxOccurs="1" />
		<xs:element name="Departments"  minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="DeptID" minOccurs="0" maxOccurs="unbounded" />				  
            </xs:sequence>
          </xs:complexType>
		  <xs:unique name="uniqueDept">
			<xs:selector xpath="DeptID"/>
			<xs:field xpath="."/>
		  </xs:unique>
        </xs:element>
		
		<xs:element name="AdminUsers" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="RestrictedIDType" name="Username" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
		  <xs:unique name="uniqueAdminUser">
			<xs:selector xpath="Username"/>
			<xs:field xpath="."/>
		  </xs:unique>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
