AMS/XSDs/ChannelLogonResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Logon">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Customer" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AuthToken" type="xs:string" />
              <xs:element name="CustomerPK" type="xs:int" />
              <xs:element name="ExtIdentifier" type="xs:string" />
              <xs:element name="ExtIDType" type="xs:string" />
              <xs:element name="IdentifierType" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Status">
          <xs:complexType>
            <xs:attribute name="operation" type="xs:string" use="required" />
            <xs:attribute name="success" type="xs:boolean" use="required" />
            <xs:attribute name="responsecode" type="xs:string" use="required" />
            <xs:attribute name="message" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>