AMS/XSDs/ChannelGetOfferListResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetOfferList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Offers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Offer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OfferID" type="xs:long" />
                    <xs:element name="OfferStartDate" type="xs:dateTime" />
                    <xs:element name="OfferEndDate" type="xs:dateTime" />
                    <xs:element name="OfferOptable" type="xs:boolean" />
                    <xs:element name="OfferOptedIn" type="xs:boolean" />
                    <xs:element name="MediaTypeID" type="xs:integer" />
                    <xs:element name="MediaFormatID" type="xs:integer" />
                    <xs:element name="MediaData" type="xs:string" />
                    <xs:element name="OfferDetailLink" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Navigation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TotalNumOffers" type="xs:integer" />
                    <xs:element name="TotalNumPages" type="xs:integer" />
                    <xs:element name="PageStartOfferNum" type="xs:integer" />
                    <xs:element name="PageEndOfferNum" type="xs:integer" />
                    <xs:element name="CurrentPageNum" type="xs:integer" />
                    <xs:element name="NextPage" type="xs:string" />
                    <xs:element name="PrevPage" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>