AMS/XSDs/ChannelSaveCustomerDetailsRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SaveCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Customer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Prefix" type="xs:string" />
              <xs:element name="FirstName" type="xs:string" />
              <xs:element name="MiddleName" type="xs:string" />
              <xs:element name="LastName" type="xs:string" />
              <xs:element name="Suffix" type="xs:string" />
              <xs:element name="Address" type="xs:string" />
              <xs:element name="City" type="xs:string" />
              <xs:element name="State" type="xs:string" />
              <xs:element name="Zip" type="xs:string" />
              <xs:element name="Country" type="xs:string" />
              <xs:element name="Phone" type="xs:string" />
              <xs:element name="MobilePhone" type="xs:string" />
              <xs:element name="Email" type="xs:string" />
              <xs:element name="DateOfBirth" type="xs:date" />
              <xs:element name="AltIDOptOut" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>