AMS/XSDs/TrackableCouponsExternalAdjustNumCouponUsesRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AdjustNumCouponUses">
    <xs:complexType>
		<xs:sequence>
			<xs:element name="Coupon" minOccurs="1" maxOccurs="unbounded">			
			  <xs:complexType>
				<xs:sequence>
					<xs:element name="RemainingUses" type="xs:unsignedByte" minOccurs="1" maxOccurs="1" />
					<xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1" />
				</xs:sequence>
			  </xs:complexType>
			</xs:element>
		</xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
