AMS/XSDs/TrackableCouponsExtQueryCouponRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QueryCoupon">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Coupon" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Code">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="150"/>
                    <xs:pattern value="^[a-zA-Z0-9]+$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="GetHistory" type="xs:boolean"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>