AgentFiles/CustomerGroupList.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- version:7.3.1.138972.Official Build (SUSDAY10202) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerGroupList">
    <xs:complexType>
	  <xs:sequence>
		  <xs:element name="ErrorMessage" type="xs:string" minOccurs="0" maxOccurs="1" />
		  <xs:element name="CustomerGroupID" type="xs:positiveInteger" minOccurs="0" />
		  <xs:element name="ExtGroupID" type="ExtGroupIDLength"  minOccurs="0"/>
		  <xs:element name="Name" type="cgNameString" minOccurs="0" />
		  <xs:element name="CardIDs" maxOccurs="1" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
				  <xs:element name="Card" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name = "ExtCardID" type="maxCardLength" maxOccurs="1" />
							<xs:element name = "CardTypeID"  type="xs:nonNegativeInteger" maxOccurs ="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			</xs:complexType>
		  </xs:element>
		</xs:sequence>
	  <xs:attribute name="returnCode" type="CustomerGroupListReturnCodes" use="required" />
      <xs:attribute name="responseTime" type="xs:dateTime" use="required" />
	</xs:complexType>
  </xs:element>
  <xs:simpleType name="cgNameString">
    <xs:restriction base="xs:string">
      <xs:maxLength value="400" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="maxCardLength">
    <xs:restriction base="xs:string">
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExtGroupIDLength">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CustomerGroupListReturnCodes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="INVALID_GUID" />
      <xs:enumeration value="CUSTOMER_GROUP_NOT_FOUND" />
      <xs:enumeration value="APPLICATION_EXCEPTION" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>