AgentFiles/PointsUpdate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PointsAdjust">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="AdjustmentSourceID" type="xs:integer" minOccurs="0"/>
        <xs:element name="AdjustmentTypeID" type="xs:integer" minOccurs="0"/>
        <xs:element name="AdjustmentReasonID" type="xs:integer" minOccurs="0"/>
        <xs:element name="AdjustmentReasonText" type="xs:string" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="programid" type="xs:long" use="required" />
      <xs:attribute name="SetBalance" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

