AgentFiles/PointsUpdateResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PointsUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Status">
          <xs:complexType>
            <xs:attribute name="operation" type="xs:string" use="required" />
            <xs:attribute name="success" type="xs:boolean" use="required" />
            <xs:attribute name="responseCode" type="responseType" use="required" />
            <xs:attribute name="message" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="responseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="INVALID_GUID" />
      <xs:enumeration value="INVALID_XML_DOCUMENT" />
      <xs:enumeration value="APPLICATION_EXCEPTION" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>