LogixWebRoot/AgentFiles/CardIdRange.xsd

<?xml version="1.0"?>
<!-- version:7.3.1.138972.Official Build (SUSDAY10202) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="CustomerRanges">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="CardIdStartRange" type="xs:integer" minOccurs="1" maxOccurs="unbounded"/>
    <xs:element name="CardIdEndRange" type="xs:integer" minOccurs="1" maxOccurs="unbounded"/>    
   </xs:sequence>
  </xs:complexType>
  </xs:element> 
</xs:schema>