LogixWebRoot/AgentFiles/KioskWebAccum.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- version:7.3.1.138972.Official Build (SUSDAY10202) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Offers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Offer" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OfferID" type="xs:long" minOccurs="1" maxOccurs="1" />
              <xs:element name="Name" type="stringLen100" minOccurs="1" maxOccurs="1" />
              <xs:element name="AccumulationBalance" type="xs:decimal" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Error" minOccurs="0" maxOccurs="1" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="returnCode" type="statusCodeType" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="stringLen100">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="statusCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="INVALID_GUID" />
      <xs:enumeration value="APPLICATION_EXCEPTION" />
      <xs:enumeration value="INVALID_LOCATION" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>