LogixWebRoot/AMS/XSDs/ExportAllPromotions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExportPromotions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BannerID" type="xs:int" minOccurs="0" maxOccurs="1" />
		<xs:element name="ChannelID" type="xs:int" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>



