LogixWebRoot/AMS/XSDs/TrackableCouponsRedeemCouponRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RedeemCoupon">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Coupon" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Code">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="150"/>
                    <xs:pattern value="^[a-zA-Z0-9]+$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="CouponsUsed" type="xs:unsignedByte"/>
              <xs:element name="LockKey" type="xs:long"/>
              <xs:element name="StoreId" type="xs:long"/>
              <xs:element name="CustomerId" type="xs:long" minOccurs="0"/>
              <xs:element name="LogixTransNum" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="30"/>
					<xs:maxLength value="36"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ForceRedeem" type="xs:boolean" minOccurs="0" default="false"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>